{% extends 'base.html.twig' %}
{% block body %}

<div class="content-page">
    <div class="content">
        <div class="container-fluid"
        
 <div class="row">
                <div class="col-md-12"  style="display: flex; justify-content: center;align-items:center;width: 100%" >
                    <div class="card-box">
                        <div class="dropdown pull-right">

                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                            </div>
                            </div>
                            </div>
                              </div>
                            {{form_start(formC, {'attr': {novalidate: 'novalidate'}}) }}




                

                           <div class="form-group">

                            <label for="nom">description</label>


                            {{ form_widget(formC.description, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(formC.description, {'attr': {'class': 'text-danger'}}) }}

                       </div>


                        <div class="form-group">
                            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>

                        </div>


                        {{form_end(formC)}}












{% endblock %}
