{% extends 'base.html.twig' %}

{% block title %}Demande{% endblock %}

{% block body %}
  <center>
  <h3 style="font-size: 36px; font-weight: bold; color: #333; text-align: center; margin: 20px 0;">Détails de la demande</h3>
</center>

   <div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 100%;box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);margin-left:10px">
            <div class="card-body">
                <center>
                    <h5 class="card-title"><strong>Demande</strong></h5>
                    <img src="{{ asset('assets/hiring1.jpg') }}" alt="Image" style="width:300px;height:200px"> </br> </br> 
                    <h6 class="card-subtitle mb-2 text-muted"><strong>Experience : </strong>{{ demande.experience }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted"><strong>Description : </strong>{{ demande.description }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted"><strong>Remuneration : </strong>{{ demande.remuneration }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted"><strong>Telephone : </strong>{{ demande.telephone }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted"><strong>Expiration : </strong>{{ demande.expiration ? demande.expiration|date('Y-m-d') : '' }}</h6>

                    {{ include('demande/_delete_form.html.twig') }}
                </center>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        {% for poste in postes %}
        <div class="card" style="width: 100%;box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3); margin-top: 20px;margin-right:50px;">
            <div class="card-body">
                <h5 class="card-title"><strong>Poste</strong></h5>
                <h6 class="card-subtitle mb-2 text-muted"><strong>Experience : </strong>{{ poste.experience }}</h6>
                 <h6 class="card-subtitle mb-2 text-muted"><strong>Description : </strong>{{ poste.description }}</h6>

               
            </div>
        </div>
        {% endfor %}
    </div>
</div>



    <a href="{{ path('app_demande_index') }}" style="display: inline-block; background-color: #fdc134; color: white; border: none; padding: 8px 15px; font-size: 14px; text-decoration: none; cursor: pointer;float: right;" >back to list</a>
    
    

  
    
    </br>
    </br>

    <style>
    .table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-size: 1rem;
  color: #333;
  background-color: #fff;
}

.table th,
.table td {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.table th {
  font-weight: bold;
  text-align: left;
  background-color: #eee;
}

    </style>
{% endblock %}
