<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
    <center>
        <h1>{{ title }}</h1>
        <p>{{ content }}</p>
       
            <p> <stong> le nom du recruteur : </strong> {{demandes.nomRecruteur}} </p>
            <p> <stong> la remunération : </strong> {{demandes.remuneration}} </p>
             <p> <stong> l'experience demandé : </strong> {{demandes.experience}} an(s)</p>
             <p> <stong> la description de la demande : </strong> {{demandes.description}} </p>
              <p> <stong> la date d expiration  : </strong> {{demandes.expiration  ? demandes.expiration|date('Y-m-d') : '' }} </p>
              <p> <stong> le numero du recruteur : </strong> {{demandes.telephone}} </p> </center>
        
    </body>
</html>