        {% extends 'base.html.twig' %}

{% block title %}PORTFOLIO{% endblock %}

{% block body %}
    <div class="row">
        {% for photo in photos %}
            <div class="col-md-4">
        <h2>Welcome</h2>
            <div class="card mb-6">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img src="{{ asset('uploads/image_profile/' ~ photo.photo) }}" class="img-thumbnail" alt="Photo">
                    </div>
                    <div class="card-body">
                           <a href="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=http://127.0.0.1:8000/portfolio/visit" class="btn btn-info" alt="QR Code"qrcode"><button>Partager Mon Profile</button></a>

                          </div>
                            <div>
    <button type="button" class="btn btn-primary" onclick="showVisitorsCount()"> nombre visiteurs</button>
</div>
<div id="visitorsCount" style="display:none">
    <p>Nombre de visiteurs : {{ visitorsCount }}</p>
</div>

<script>
function showVisitorsCount() {
    var visitorsCountDiv = document.getElementById("visitorsCount");
    visitorsCountDiv.style.display = "block";
    setTimeout(function() {
        visitorsCountDiv.style.display = "none";
    }, 3000); // La pop-up disparaît après 5 secondes (5000 ms)
}
</script>                        
                </div>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
                <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                <h2>Liste des compétences </h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for competence in competences %}
                                <tr>
                                    <td>{{ competence.nom }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="2">Aucun enregistrement trouvé</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2>Liste des expériences professionnelles</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom de l'entreprise</th>
                                <th>Poste</th>
                                <th>Date de début</th>
                                <th>Date de fin</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for experience in experiences %}
                                <tr>
                                    <td>{{ experience.nomEntreprise }}</td>
                                    <td>{{ experience.poste }}</td>
                                    <td>{{ experience.dateDebut ? experience.dateDebut|date('Y-m-d') : '' }}</td>
                                    <td>{{ experience.dateFin ? experience.dateFin|date('Y-m-d') : '' }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">Aucun enregistrement trouvé</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                     <h1>Scolarité</h1>
                    <table class="table">
                         <thead>
                            <tr>
                                <th>Nom de l'établissement</th>
                                <th>Ville</th>
                                <th>Pays</th>
                                <th>Diplôme</th>
                                <th>Date d'obtention</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for scolarite in scolarites %}
                                <tr>
                                    <td>{{ scolarite.nomEtablissement }}</td>
                                    <td>{{ scolarite.ville }}</td>
                                    <td>{{ scolarite.pays }}</td>
                                    <td>{{ scolarite.diplome }}</td>
                                    <td>{{ scolarite.dateObtention ? scolarite.dateObtention|date('Y-m-d') : ''}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}