

{% extends 'base.html.twig' %}



{% block body %}

<div class="card-body">
            <h5 class="card-title">Experiences</h5>
              <!-- Dark Table -->
              <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">entreprise</th>
                    <th scope="col">poste</th>
                    <th scope="col">Date Debut</th>
                    <th scope="col">Date Fin</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                  {% for experience in experiences %}
                    <td>{{ experience.nomEntreprise }}</td>
                    <td>{{ experience.poste }}</td>
                    <td>{{ experience.dateDebut|date('Y-m-d') }}</td>
                    <td>{{ experience.dateFin|date('Y-m-d') }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>



              <!-- End Dark Table -->

            </div>  

<div class="card-body">
              <h5 class="card-title">Competences</h5>

              <!-- Dark Table -->
              <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">competence</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                  {% for competence in competences %}
                    <td>{{ competence.nom }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
</div> 

<div class="card-body">
            <h5 class="card-title">Education</h5>
              <!-- Dark Table -->
              <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">Etablissement</th>
                    <th scope="col">ville</th>
                    <th scope="col">pays</th>
                    <th scope="col">diplome</th>
                    <th scope="col">Date Obtention</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                  {% for education in scolarite %}
                    <td>{{ education.nomEtablissement }}</td>
                    <td>{{ education.ville }}</td>
                     <td>{{ education.pays }}</td>
                    <td>{{ education.diplome }}</td>
                    <td>{{ education.dateObtention|date('Y-m-d') }}</td>
                  </tr>
                    {% endfor %}
                  
                </tbody>
              </table>



              <!-- End Dark Table -->

            </div>  
                           

              
{% endblock %}


