{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.nomEtablissement) }}
  {{ form_row(form.ville) }}
  {{ form_row(form.pays, {'attr': {'class': 'js_pays'}}) }}
  {{ form_row(form.diplome) }}
  {{ form_row(form.dateObtention) }}
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
