{% extends 'backbase.html.twig' %}

{% block title %}Hello DashboardController!
{% endblock %}
{% block css %}
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css'>
	<link rel='stylesheet' href='https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css'>


{% endblock %}
{% block body %}
	<main id="main" class="main">

		<div class="pagetitle">
			<h1>Dashboard</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="index.html">Home</a>
					</li>
					<li class="breadcrumb-item active">Dashboard</li>
				</ol>
			</nav>
		</div>
		<!-- End Page Title -->
		<section class="section dashboard">
			<div
				class="row">

				<!-- Left side columns -->
				<div class="col-lg-20">
					<div
						class="row">

						<!-- Sales Card -->
						<div class="col-xxl-4 col-md-6">
							<div class="card info-card sales-card">

								<div class="filter">
									<a class="icon" href="#" data-bs-toggle="dropdown">
										<i class="bi bi-three-dots"></i>
									</a>
									<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
										<li class="dropdown-header text-start">
											<h6>Filter</h6>
										</li>

										<li>
											<a class="dropdown-item" href="#">Today</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">This Month</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">This Year</a>
										</li>
									</ul>
								</div>

								<div class="card-body ">
									<h5 class="card-title">Sales
										<span>| Today</span>
									</h5>

									<div class="d-flex align-items-center">
										<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
											<i class="bi bi-cart"></i>
										</div>
										<div class="ps-3">
											<h6>145</h6>
											<span class="text-success small pt-1 fw-bold">12%</span>
											<span class="text-muted small pt-2 ps-1">increase</span>

										</div>
									</div>
								</div>

							</div>
						</div>
						<!-- End Sales Card -->

						<!-- Revenue Card -->
						<div class="col-xxl-4 col-md-6">
							<div class="card info-card revenue-card">

								<div class="filter">
									<a class="icon" href="#" data-bs-toggle="dropdown">
										<i class="bi bi-three-dots"></i>
									</a>
									<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
										<li class="dropdown-header text-start">
											<h6>Filter</h6>
										</li>

										<li>
											<a class="dropdown-item" href="#">Today</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">This Month</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">This Year</a>
										</li>
									</ul>
								</div>

								<div class="card-body">
									<h5 class="card-title">Revenue
										<span>| This Month</span>
									</h5>

									<div class="d-flex align-items-center">
										<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
											<i class="bi bi-currency-dollar"></i>
										</div>
										<div class="ps-3">
											<h6>3,264 TND</h6>
											<span class="text-success small pt-1 fw-bold">8%</span>
											<span class="text-muted small pt-2 ps-1">increase</span>

										</div>
									</div>
								</div>

							</div>
						</div>
						<!-- End Revenue Card -->

						<!-- Customers Card -->
						<div class="col-xxl-4 col-xl-12">

							<div class="card info-card customers-card">

								<div class="filter">
									<a class="icon" href="#" data-bs-toggle="dropdown">
										<i class="bi bi-three-dots"></i>
									</a>
									<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
										<li class="dropdown-header text-start">
											<h6>Filter</h6>
										</li>

										<li>
											<a class="dropdown-item" href="#">Today</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">This Month</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">This Year</a>
										</li>
									</ul>
								</div>

								<div class="card-body">
									<h5 class="card-title">Customers
										<span>| This Year</span>
									</h5>

									<div class="d-flex align-items-center">
										<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
											<i class="bi bi-people"></i>
										</div>
										<div class="ps-3">
											<h6>1244</h6>
											<span class="text-danger small pt-1 fw-bold">12%</span>
											<span class="text-muted small pt-2 ps-1">decrease</span>

										</div>
									</div>

								</div>
							</div>

						</div>
					</div>
					<div class="row">

						<!-- End Customers Card -->
						<!-- Users Card -->
							<div class="col-xxl-4 col-md-6"> <div class="card info-card users-card">

								<div class="filter">
									<a class="icon" href="#" data-bs-toggle="dropdown">
										<i class="bi bi-three-dots"></i>
									</a>
									<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
										<li class="dropdown-header text-start">
											<h6>Filter</h6>
										</li>

										<li>
											<a class="dropdown-item" href="#">Today</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">This Month</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">This Year</a>
										</li>
									</ul>
								</div>

								<div class="card-body">
									<h5 class="card-title">Users
										<span>| This Year</span>
									</h5>

									<div class="d-flex align-items-center">
										<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
											<i class="bi bi-person-badge-fill"></i>
										</div>
										<div class="ps-3">
											<h6>{{nb_user}}</h6>

										</div>

									</div>
								</div>

								<div
									class="d-flex justify-content-center">
									<!-- Button trigger modal -->
									<button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
										Details
									</button>
									<!-- End Users Card -->


									<!-- Modal -->
									<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-fullscreen">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">


													<table id="example" class="table table-striped" style="width:100%">
														<thead>
															<tr>
																<th>#</th>
																<th>Name</th>
																<th>Email</th>
																<th>Role</th>
															</tr>
														</thead>
														<tbody>
															{% for item in list %}
																<tr>
																	<td>{{item.id}}</td>
																	<td>{{item.username}}</td>
																	<td>{{item.email}}</td>
																	<td>{{item.role}}</td>

																</tr>
															{% endfor %}
														</tbody>
													</tfoot>
												</table>
											</div>
										</div>


										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>


					</div>
					<!-- End Users Card -->
					<!-- Freelacner Card -->
					<div class="col-xxl-4 col-md-6">


						<div class="card info-card customers-card">

							<div class="filter">
								<a class="icon" href="#" data-bs-toggle="dropdown">
									<i class="bi bi-three-dots"></i>
								</a>
								<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
									<li class="dropdown-header text-start">
										<h6>Filter</h6>
									</li>

									<li>
										<a class="dropdown-item" href="#">Today</a>
									</li>
									<li>
										<a class="dropdown-item" href="#">This Month</a>
									</li>
									<li>
										<a class="dropdown-item" href="#">This Year</a>
									</li>
								</ul>
							</div>

							<div class="card-body">
								<h5 class="card-title">Freelancer
									<span>| This Year</span>
								</h5>

								<div class="d-flex align-items-center">
									<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
										<i class="bi bi-person-video"></i>

									</div>
									<div class="ps-3">
										<h6>{{freelancer}}</h6>


									</div>
								</div>

							</div>
						</div>

					</div>
					<!-- End Freelancer Card -->
					<!-- Cnadidat Card -->
					<div class="col-xxl-4 col-xl-12">

						<div class="card info-card customers-card">

							<div class="filter">
								<a class="icon" href="#" data-bs-toggle="dropdown">
									<i class="bi bi-three-dots"></i>
								</a>
								<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
									<li class="dropdown-header text-start">
										<h6>Filter</h6>
									</li>

									<li>
										<a class="dropdown-item" href="#">Today</a>
									</li>
									<li>
										<a class="dropdown-item" href="#">This Month</a>
									</li>
									<li>
										<a class="dropdown-item" href="#">This Year</a>
									</li>
								</ul>
							</div>

							<div class="card-body">
								<h5 class="card-title">Candidat
									<span>| This Year</span>
								</h5>

								<div class="d-flex align-items-center">
									<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
										<i class="bi bi-person-video3"></i>

									</div>
									<div class="ps-3">
										<h6>{{candidat}}</h6>

									</div>
								</div>

							</div>
						</div>

					</div>
					<!-- End Candidat Card -->
					<!-- Recruteur Card -->
					<div class="col-xxl-4 col-md-6">


						<div class="card info-card customers-card">

							<div class="filter">
								<a class="icon" href="#" data-bs-toggle="dropdown">
									<i class="bi bi-three-dots"></i>
								</a>
								<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
									<li class="dropdown-header text-start">
										<h6>Filter</h6>
									</li>

									<li>
										<a class="dropdown-item" href="#">Today</a>
									</li>
									<li>
										<a class="dropdown-item" href="#">This Month</a>
									</li>
									<li>
										<a class="dropdown-item" href="#">This Year</a>
									</li>
								</ul>
							</div>

							<div class="card-body">
								<h5 class="card-title">Recruteur
									<span>| This Year</span>
								</h5>

								<div class="d-flex align-items-center">
									<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
										<i class="bi bi-building"></i>

									</div>
									<div class="ps-3">
										<h6>{{recruteur}}</h6>


									</div>
								</div>

							</div>
						</div>

					</div>
					<!-- End Recruteur Card -->
				</div>


				<!-- Reports -->
				<div class="col-12">
					<div class="card">

						<div class="filter">
							<a class="icon" href="#" data-bs-toggle="dropdown">
								<i class="bi bi-three-dots"></i>
							</a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
								<li class="dropdown-header text-start">
									<h6>Filter</h6>
								</li>

								<li>
									<a class="dropdown-item" href="#">Today</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">This Month</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">This Year</a>
								</li>
							</ul>
						</div>

						<div class="card-body">
							<h5 class="card-title">Reports
								<span>/Today</span>
							</h5>

							<!-- Line Chart -->
							<div id="reportsChart"></div>

							<script>
								document.addEventListener("DOMContentLoaded", () => {
new ApexCharts(document.querySelector("#reportsChart"), {
series: [
{
name: 'Sales',
data: [
31,
40,
28,
51,
42,
82,
56
]
}, {
name: 'Revenue',
data: [
11,
32,
45,
32,
34,
52,
41
]
}, {
name: 'Customers',
data: [
15,
11,
32,
18,
9,
24,
11
]
}
],
chart: {
height: 350,
type: 'area',
toolbar: {
show: false
}
},
markers: {
size: 4
},
colors: [
'#4154f1', '#2eca6a', '#ff771d'
],
fill: {
type: "gradient",
gradient: {
shadeIntensity: 1,
opacityFrom: 0.3,
opacityTo: 0.4,
stops: [0, 90, 100]
}
},
dataLabels: {
enabled: false
},
stroke: {
curve: 'smooth',
width: 2
},
xaxis: {
type: 'datetime',
categories: [
"2018-09-19T00:00:00.000Z",
"2018-09-19T01:30:00.000Z",
"2018-09-19T02:30:00.000Z",
"2018-09-19T03:30:00.000Z",
"2018-09-19T04:30:00.000Z",
"2018-09-19T05:30:00.000Z",
"2018-09-19T06:30:00.000Z"
]
},
tooltip: {
x: {
format: 'dd/MM/yy HH:mm'
}
}
}).render();
});
							</script>
							<!-- End Line Chart -->

						</div>

					</div>
				</div>
				<!-- End Reports -->

				<!-- Recent Sales -->
				<div class="col-12">
					<div class="card recent-sales overflow-auto">

						<div class="filter">
							<a class="icon" href="#" data-bs-toggle="dropdown">
								<i class="bi bi-three-dots"></i>
							</a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
								<li class="dropdown-header text-start">
									<h6>Filter</h6>
								</li>

								<li>
									<a class="dropdown-item" href="#">Today</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">This Month</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">This Year</a>
								</li>
							</ul>
						</div>

						<div class="card-body">
							<h5 class="card-title">Recent Sales
								<span>| Today</span>
							</h5>

							<table class="table table-borderless datatable">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Customer</th>
										<th scope="col">Product</th>
										<th scope="col">Price</th>
										<th scope="col">Status</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">
											<a href="#">#2457</a>
										</th>
										<td>Brandon Jacob</td>
										<td>
											<a href="#" class="text-primary">At praesentium minu</a>
										</td>
										<td>64 TND</td>
										<td>
											<span class="badge bg-success">Approved</span>
										</td>
									</tr>
									<tr>
										<th scope="row">
											<a href="#">#2147</a>
										</th>
										<td>Bridie Kessler</td>
										<td>
											<a href="#" class="text-primary">Blanditiis dolor omnis similique</a>
										</td>
										<td>47 TND</td>
										<td>
											<span class="badge bg-warning">Pending</span>
										</td>
									</tr>
									<tr>
										<th scope="row">
											<a href="#">#2049</a>
										</th>
										<td>Ashleigh Langosh</td>
										<td>
											<a href="#" class="text-primary">At recusandae consectetur</a>
										</td>
										<td>147 TND</td>
										<td>
											<span class="badge bg-success">Approved</span>
										</td>
									</tr>
									<tr>
										<th scope="row">
											<a href="#">#2644</a>
										</th>
										<td>Angus Grady</td>
										<td>
											<a href="#" class="text-primar">Ut voluptatem id earum et</a>
										</td>
										<td>67 TND</td>
										<td>
											<span class="badge bg-danger">Rejected</span>
										</td>
									</tr>
									<tr>
										<th scope="row">
											<a href="#">#2644</a>
										</th>
										<td>Raheem Lehner</td>
										<td>
											<a href="#" class="text-primary">Sunt similique distinctio</a>
										</td>
										<td>165 TND</td>
										<td>
											<span class="badge bg-success">Approved</span>
										</td>
									</tr>
								</tbody>
							</table>

						</div>

					</div>
				</div>
				<!-- End Recent Sales -->

				<!-- Top Selling -->
				<div class="col-12">
					<div class="card top-selling overflow-auto">

						<div class="filter">
							<a class="icon" href="#" data-bs-toggle="dropdown">
								<i class="bi bi-three-dots"></i>
							</a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
								<li class="dropdown-header text-start">
									<h6>Filter</h6>
								</li>

								<li>
									<a class="dropdown-item" href="#">Today</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">This Month</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">This Year</a>
								</li>
							</ul>
						</div>

						<div class="card-body pb-0">
							<h5 class="card-title">Top Selling
								<span>| Today</span>
							</h5>

							<table class="table table-borderless">
								<thead>
									<tr>
										<th scope="col">Preview</th>
										<th scope="col">Product</th>
										<th scope="col">Price</th>
										<th scope="col">Sold</th>
										<th scope="col">Revenue</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">
											<a href="#"><img src="assets/img/product-1.jpg" alt=""></a>
										</th>
										<td>
											<a href="#" class="text-primary fw-bold">Ut inventore ipsa voluptas nulla</a>
										</td>
										<td>64 TND</td>
										<td class="fw-bold">124</td>
										<td>5,828 TND</td>
									</tr>
									<tr>
										<th scope="row">
											<a href="#"><img src="assets/img/product-2.jpg" alt=""></a>
										</th>
										<td>
											<a href="#" class="text-primary fw-bold">Exercitationem similique doloremque</a>
										</td>
										<td>46 TND</td>
										<td class="fw-bold">98</td>
										<td>4,508 TND</td>
									</tr>
									<tr>
										<th scope="row">
											<a href="#"><img src="assets/img/product-3.jpg" alt=""></a>
										</th>
										<td>
											<a href="#" class="text-primary fw-bold">Doloribus nisi exercitationem</a>
										</td>
										<td>59 TND</td>
										<td class="fw-bold">74</td>
										<td>4,366 TND</td>
									</tr>
									<tr>
										<th scope="row">
											<a href="#"><img src="assets/img/product-4.jpg" alt=""></a>
										</th>
										<td>
											<a href="#" class="text-primary fw-bold">Officiis quaerat sint rerum error</a>
										</td>
										<td>32 TND</td>
										<td class="fw-bold">63</td>
										<td>2,016 TND</td>
									</tr>
									<tr>
										<th scope="row">
											<a href="#"><img src="assets/img/product-5.jpg" alt=""></a>
										</th>
										<td>
											<a href="#" class="text-primary fw-bold">Sit unde debitis delectus repellendus</a>
										</td>
										<td>79 TND</td>
										<td class="fw-bold">41</td>
										<td>3,239 TND</td>
									</tr>
								</tbody>
							</table>

						</div>

					</div>
				</div>
				<!-- End Top Selling -->

			</div>
		</div>
		<!-- End Left side columns -->

		<!-- Right side columns -->
		<div
			class="col-lg-4">

			<!-- Recent Activity -->
			<div class="card">
				<div class="filter">
					<a class="icon" href="#" data-bs-toggle="dropdown">
						<i class="bi bi-three-dots"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
						<li class="dropdown-header text-start">
							<h6>Filter</h6>
						</li>

						<li>
							<a class="dropdown-item" href="#">Today</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">This Month</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">This Year</a>
						</li>
					</ul>
				</div>

				<div class="card-body">
					<h5 class="card-title">Recent Activity
						<span>| Today</span>
					</h5>

					<div class="activity">

						<div class="activity-item d-flex">
							<div class="activite-label">32 min</div>
							<i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
							<div class="activity-content">
								Quia quae rerum
								<a href="#" class="fw-bold text-dark">explicabo officiis</a>
								beatae
							</div>
						</div>
						<!-- End activity item-->

						<div class="activity-item d-flex">
							<div class="activite-label">56 min</div>
							<i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
							<div class="activity-content">
								Voluptatem blanditiis blanditiis eveniet
							</div>
						</div>
						<!-- End activity item-->

						<div class="activity-item d-flex">
							<div class="activite-label">2 hrs</div>
							<i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
							<div class="activity-content">
								Voluptates corrupti molestias voluptatem
							</div>
						</div>
						<!-- End activity item-->

						<div class="activity-item d-flex">
							<div class="activite-label">1 day</div>
							<i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
							<div class="activity-content">
								Tempore autem saepe
								<a href="#" class="fw-bold text-dark">occaecati voluptatem</a>
								tempore
							</div>
						</div>
						<!-- End activity item-->

						<div class="activity-item d-flex">
							<div class="activite-label">2 days</div>
							<i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
							<div class="activity-content">
								Est sit eum reiciendis exercitationem
							</div>
						</div>
						<!-- End activity item-->

						<div class="activity-item d-flex">
							<div class="activite-label">4 weeks</div>
							<i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
							<div class="activity-content">
								Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
							</div>
						</div>
						<!-- End activity item-->

					</div>

				</div>
			</div>
			<!-- End Recent Activity -->

			<!-- Budget Report -->
			<div class="card">
				<div class="filter">
					<a class="icon" href="#" data-bs-toggle="dropdown">
						<i class="bi bi-three-dots"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
						<li class="dropdown-header text-start">
							<h6>Filter</h6>
						</li>

						<li>
							<a class="dropdown-item" href="#">Today</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">This Month</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">This Year</a>
						</li>
					</ul>
				</div>

				<div class="card-body pb-0">
					<h5 class="card-title">Budget Report
						<span>| This Month</span>
					</h5>

					<div id="budgetChart" style="min-height: 400px;" class="echart"></div>

					<script>
						document.addEventListener("DOMContentLoaded", () => {
var budgetChart = echarts.init(document.querySelector("#budgetChart")).setOption({
legend: {
data: ['Allocated Budget', 'Actual Spending']
},
radar: { // shape: 'circle',
indicator: [
{
name: 'Sales',
max: 6500
},
{
name: 'Administration',
max: 16000
},
{
name: 'Information Technology',
max: 30000
},
{
name: 'Customer Support',
max: 38000
}, {
name: 'Development',
max: 52000
}, {
name: 'Marketing',
max: 25000
}
]
},
series: [
{
name: 'Budget vs spending',
type: 'radar',
data: [
{
value: [
4200,
3000,
20000,
35000,
50000,
18000
],
name: 'Allocated Budget'
}, {
value: [
5000,
14000,
28000,
26000,
42000,
21000
],
name: 'Actual Spending'
}
]
}
]
});
});
					</script>

				</div>
			</div>
			<!-- End Budget Report -->

			<!-- Website Traffic -->
			<div class="card">
				<div class="filter">
					<a class="icon" href="#" data-bs-toggle="dropdown">
						<i class="bi bi-three-dots"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
						<li class="dropdown-header text-start">
							<h6>Filter</h6>
						</li>

						<li>
							<a class="dropdown-item" href="#">Today</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">This Month</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">This Year</a>
						</li>
					</ul>
				</div>

				<div class="card-body pb-0">
					<h5 class="card-title">Website Traffic
						<span>| Today</span>
					</h5>

					<div id="trafficChart" style="min-height: 400px;" class="echart"></div>

					<script>
						document.addEventListener("DOMContentLoaded", () => {
echarts.init(document.querySelector("#trafficChart")).setOption({
tooltip: {
trigger: 'item'
},
legend: {
top: '5%',
left: 'center'
},
series: [
{
name: 'Access From',
type: 'pie',
radius: [
'40%', '70%'
],
avoidLabelOverlap: false,
label: {
show: false,
position: 'center'
},
emphasis: {
label: {
show: true,
fontSize: '18',
fontWeight: 'bold'
}
},
labelLine: {
show: false
},
data: [
{
value: 1048,
name: 'Search Engine'
},
{
value: 735,
name: 'Direct'
},
{
value: 580,
name: 'Email'
},
{
value: 484,
name: 'Union Ads'
}, {
value: 300,
name: 'Video Ads'
}
]
}
]
});
});
					</script>

				</div>
			</div>
			<!-- End Website Traffic -->

			<!-- News & Updates Traffic -->
			<div class="card">
				<div class="filter">
					<a class="icon" href="#" data-bs-toggle="dropdown">
						<i class="bi bi-three-dots"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
						<li class="dropdown-header text-start">
							<h6>Filter</h6>
						</li>

						<li>
							<a class="dropdown-item" href="#">Today</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">This Month</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">This Year</a>
						</li>
					</ul>
				</div>

				<div class="card-body pb-0">
					<h5 class="card-title">News &amp; Updates
						<span>| Today</span>
					</h5>

					<div class="news">
						<div class="post-item clearfix">
							<img src="{{asset("/BackEndTemplate/img/news-1.jpg")}}" alt="">


							<h4>
								<a href="#">Nihil blanditiis at in nihil autem</a>
							</h4>
							<p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
						</div>

						<div class="post-item clearfix">
							<img src="{{asset("/BackEndTemplate/img/news-2.jpg")}}" alt="">


							<h4>
								<a href="#">Quidem autem et impedit</a>
							</h4>
							<p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>
						</div>

						<div class="post-item clearfix">
							<img src="{{asset("/BackEndTemplate/img/news-3.jpg")}}" alt="">


							<h4>
								<a href="#">Id quia et et ut maxime similique occaecati ut</a>
							</h4>
							<p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>
						</div>

						<div class="post-item clearfix">
							<img src="{{asset("/BackEndTemplate/img/news-4.jpg")}}" alt="">


							<h4>
								<a href="#">Laborum corporis quo dara net para</a>
							</h4>
							<p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...</p>
						</div>

						<div class="post-item clearfix">
							<img src="{{asset("/BackEndTemplate/img/news-5.jpg")}}" alt="">

							<h4>
								<a href="#">Et dolores corrupti quae illo quod dolor</a>
							</h4>
							<p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>
						</div>

					</div>
					<!-- End sidebar recent posts-->

				</div>
			</div>
			<!-- End News & Updates -->

		</div>
		<!-- End Right side columns -->

	</div>
</section></main><!-- End #main -->{% endblock %}{% block js %}<script src="https://code.jquery.com/jquery-3.5.1.js"></script><script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script><script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script><script>
$(document).ready(function () {

$('#example').DataTable();

});</script><script>
$(document).ready(function () {
var inputValue = $(".form-control-sm").val();


function html2json() {
var json = '{';
var otArr = [];
var tbl2 = $('.table-striped tr').each(function (i) {

x = $(this).children();
var itArr = [];
x.each(function () {
itArr.push('"' + $(this).text() + '"');
});
otArr.push('"' + i + '": [' + itArr.join(',') + ']');
})
json += otArr.join(",") + '}'

return json;
}
$(".form-control-sm").on("keyup", function () {
$.ajax({
url: '/users/search',

type: 'POST',
data: {
inputValue: inputValue
},

success: function (data) {
console.log(data['response']);
var data = data['response'];

$.each(data, function (index, value) {
var row = $('<tr>');
$.each(value, function (key, val) {
$('<td>').html(val).appendTo(row);
});
$('tbody').append(row);
}); // handle the response from the controller
},
error: function (xhr, status, error) { // handle errors
}
});


});


});</script>{% endblock %}
